[CDATA[File Path ]]></Text>
      </Control>
	  <Control ClassName="m_quickscan" ControlType ="1" >
        <Text><![CDATA[Quick Scan ]]></Text>
      </Control>
	  <Control ClassName="m_deepscan" ControlType ="1" >
        <Text><![CDATA[Deep Scan ]]></Text>
      </Control>
	  <Control ClassName="m_btndeepscan" ControlType ="13" >
        <Text><![CDATA[Deep Scan ]]></Text>
      </Control>
	  <Control ClassName ="m_check" ControlType="11">
        <Text><![CDATA[Your copy of  the software is not register Buy a license to enjoy  all of the benefits of the registered version.]]></Text>
      </Control>
	  <Control ClassName="m_benefits" ControlType="11">
        <Text><![CDATA[Main Benefits]]></Text>
      </Control>
      <Control ClassName ="m_trial" ControlType="11">
        <Text><![CDATA[Trial ]]></Text>
      </Control>
      <Control ClassName="m_registered" ControlType="11">
        <Text><![CDATA[Register]]></Text>
      </Control>
      <Control ClassName="m_scan" ControlType="11">
        <Text><![CDATA[Scan files]]></Text>
      </Control>
	  <Control ClassName="m_previewfiles" ControlType="11">
        <Text><![CDATA[Preview files]]></Text>
      </Control>
	  <Control ClassName="m_recoverfiles" ControlType="11">
        <Text><![CDATA[Recover files]]></Text>
      </Control>
	  <Control ClassName ="m_support" ControlType="11">
        <Text><![CDATA[Technical Support]]></Text>
      </Control>
	  <Control ClassName="m_register" ControlType="13">
        <Text><![CDATA[Regesiter]]></Text>
      </Control>
	  <Control ClassName="m_evaluate" ControlType="13">
        <Text><![CDATA[Evaluate]]></Text>
      </Control>
	  <Control ClassName="m_buy" ControlType="13">
        <Text><![CDATA[Buy Now]]></Text>
      </Control>
	  <Control ClassName="m_scanresult" ControlType="11">
        <Text><![CDATA[would you like save project fo scan result ]]></Text>
      </Control>
	  <Control ClassName="m_SaveButton" ControlType="13">
        <Text><![CDATA[Save]]></Text>
      </Control>
	  <Control ClassName="m_cancelButton" ControlType="13">
        <Text><![CDATA[Cancel]]></Text>
      </Control>
	  <Control ClassName="t_fileName" ControlType="11">
        <Text><![CDATA[File name]]></Text>
      </Control>
	  <Control ClassName="t_filePath" ControlType="11">
        <Text><![CDATA[File Path]]></Text>
      </Control>
	  <Control ClassName="o_title" ControlType="11">
        <Text><![CDATA[ Load Project Files]]></Text>
      </Control>
	  <Control ClassName="m_fileerror" ControlType="11">
        <Text><![CDATA[File error, please re-import the project file.]]></Text>
      </Control>
	  <Control ClassName="t_deepscan" ControlType ="11" >
        <Text><![CDATA[<font color=#26324B>Can't find the files, use </font> <b><a href="#"><font color=#00AEE6>Deep Scan</font></a></b>]]></Text>
      </Control>
	  <Control ClassName="t_deepscan_disabled" ControlType ="11" >
        <Text><![CDATA[<font color=#CDCDCD>Can't find the files, use </font> <b><a href="#"><font color=#B2DFF8>Deep Scan</font></a></b>]]></Text>
      </Control>
	  <Control ClassName="t_deepscan_Hint" ControlType ="11" >
        <Text><![CDATA[If it cannot find lost files, please try "Deep Scan". it can find more files, but it will spend more time.]]></Text>
      </Control>
	  <Control ClassName="m_LabNavigation" ControlType="1">
        <Text><![CDATA[Select a partition to scan files:]]></Text>
      </Control>
	  <Control ClassName="m_lblname" ControlType="11">
        <Text><![CDATA[Name:]]></Text>
      </Control>
	  <Control ClassName="m_lalsize" ControlType="11">
        <Text><![CDATA[Size:]]></Text>
      </Control>
	  <Control ClassName="m_lblpath" ControlType="11">
        <Text><![CDATA[Path:]]></Text>
      </Control>
	  <Control ClassName="m_lblecrete" ControlType="11">
        <Text><![CDATA[Created Date:]]></Text>
      </Control>
	  <Control ClassName="m_lblmodefy" ControlType="11">
        <Text><![CDATA[Modified Date:]]></Text>
      </Control>
	  <Control ClassName="m_lbstatue" ControlType="11">
        <Text><![CDATA[Status:]]></Text>
      </Control>
	  <Control ClassName="m_btperview" ControlType="13">
        <Text><![CDATA[Preview]]></Text>
      </Control>
	  <Control ClassName="m_cannotfind" ControlType="11">
        <Text><![CDATA[Can 't find the files, using ]]></Text>
      </Control>
	  <Control ClassName="m_alldata" ControlType="1">
        <Text><![CDATA[All File Types]]></Text>
      </Control>
	  <Control ClassName="m_filelocation" ControlType="1">
        <Text><![CDATA[Files Location]]></Text>
      </Control>
	  <Control ClassName="findmorepartition" ControlType ="1" >
        <Text><![CDATA[<font color=#26324B>Can't find your partition? </font> <b><a href="#"><font color=#00AEE6>Try again</font></a></b>]]></Text>
      </Control>	  
	  <Control ClassName="m_pEnterButton" ControlType="1">
        <Text><![CDATA[Create Bootable ]]></Text>
      </Control>
	  <Control ClassName="EnterFrameHint" ControlType="11">
        <Text><![CDATA[Create a bootable drive to recover data when Windows system is unable to launch.]]></Text>
      </Control>
	  <Control ClassName="HintText1" ControlType="11">
        <Text><![CDATA[Your copy of the software is not registered, choose the plan you need.]]></Text>
      </Control>
	  <Control ClassName="HintText2" ControlType="11">
        <Text><![CDATA[Basic]]></Text>
      </Control>
	  <Control ClassName="HintText3" ControlType="11">
        <Text><![CDATA[Pro]]></Text>
      </Control>	
	  <Control ClassName="MainWinPEText1" ControlType="11">
        <Text><![CDATA[Hard Disk Copy]]></Text>
      </Control>	  
	  <Control ClassName="MainWinPEText2" ControlType="11">
        <Text><![CDATA[Data Recovery]]></Text>
      </Control>
	  <Control ClassName="MainWinPEText3" ControlType="11">
        <Text><![CDATA[Copy files on hard disk]]></Text>
      </Control>
	   <Control ClassName="MainWinPEText4" ControlType="11">
        <Text><![CDATA[Recovery deleted/lost files]]></Text>
      </Control>
    </Dialog>
	<Dialog ClassName="Copydisk">
	<Control ClassName="Copybtn" ControlType="13" >
        <Text><![CDATA[Copy]]></Text>
    </Control>
	<Control ClassName="copysource" ControlType="1">
        <Text><![CDATA[Source]]></Text>
    </Control>
	<Control ClassName="copytarget" ControlType="1">
        <Text><![CDATA[Target]]></Text>
    </Control>
	<Control ClassName="copyselect" ControlType="1">
        <Text><![CDATA[Select a hard drive]]></Text>
    </Control>
	<Control ClassName="copyoutrside" ControlType="1">
        <Text><![CDATA[Please connect an usb drive]]></Text>
    </Control>
	<Control ClassName="copybrowser" ControlType="11">
        <Text><![CDATA[Browser]]></Text>
    </Control>
	<Control ClassName="copyselectdir" ControlType="11">
        <Text><![CDATA[Select directory]]></Text>
    </Control>
	<Control ClassName="copychangedir" ControlType="11">
        <Text><![CDATA[Change folder]]></Text>
    </Control>
	<Control ClassName="copydirectory" ControlType="11">
        <Text><![CDATA[Select the copy directory]]></Text>
    </Control>
	<Control ClassName="copydesktop" ControlType="11">
        <Text><![CDATA[Desktop]]></Text>
    </Control>
	<Control ClassName="copydocument" ControlType="11">
        <Text><![CDATA[My Document]]></Text>
    </Control>
	<Control ClassName="copycomputer" ControlType="11">
        <Text><![CDATA[My Computer]]></Text>
    </Control>
	<Control ClassName="copycalculation" ControlType="1">
        <Text><![CDATA[Calculating disk space]]></Text>
    </Control>
	<Control ClassName="copyspeed" ControlType="1">
        <Text><![CDATA[Speed:]]></Text>
    </Control>
	<Control ClassName="copytime" ControlType="11">
        <Text><![CDATA[Estimated time： ]]></Text>
    </Control>
	<Control ClassName="copycomplete" ControlType="11">
        <Text><![CDATA[Data copy completed!]]></Text>
    </Control>
	<Control ClassName="copyfailed" ControlType="11">
        <Text><![CDATA[Copy failed because some files cannot be opened.]]></Text>
    </Control>
	<Control ClassName="copystop" ControlType="11">
        <Text><![CDATA[Copying now, do you want to stop?]]></Text>
    </Control>
	<Control ClassName="copyfilesize" ControlType="1">
        <Text><![CDATA[Calculating file size]]></Text>
    </Control>
	<Control ClassName="copyhead" ControlType="11">
        <Text><![CDATA[The file you need to copy is ]]></Text>
    </Control>
	<Control ClassName="copytailed" ControlType="11">
        <Text><![CDATA[, please use a disk with more space.]]></Text>
    </Control>
	<Control ClassName="copynotwrite" ControlType="11">
        <Text><![CDATA[Cannot write to this disk, please check your disk.]]></Text>
    </Control>
	<Control ClassName="copychoice" ControlType="1">
        <Text><![CDATA[Directory chosen]]></Text>
    </Control>
	<Control ClassName="copycontinue" ControlType="13">
        <Text><![CDATA[Continue]]></Text>
    </Control>
	<Control ClassName="copyDatacopy" ControlType="1">
        <Text><![CDATA[Hard Disk Data Copy]]></Text>
    </Control>
	<Control ClassName="copyDatarecovery" ControlType="1">
        <Text><![CDATA[Hard Disk Data Recovery]]></Text>
    </Control>
	<Control ClassName="copydatatocopy" ControlType="1">
        <Text><![CDATA[Select data to copy]]></Text>
    </Control>
	<Control ClassName="copydatacopyto" ControlType="1">
        <Text><![CDATA[Select copy to]]></Text>
    </Control>
	<Control ClassName="copydestinationdisk" ControlType="1">
        <Text><![CDATA[Select a destination disk:]]></Text>
    </Control>
	<Control ClassName="copyfreedisk" ControlType="11">
        <Text><![CDATA[free]]></Text>
    </Control>
	<Control ClassName="copynotenoughspace" ControlType="11">
        <Text><![CDATA[Not enough space. Please select another Hard Disk or USB flash drive.]]></Text>
    </Control>
	<Control ClassName="copywriteprotect" ControlType="11">
        <Text><![CDATA[The selected disk is write protected. Please select another Hard Disk or USB flash drive.]]></Text>
    </Control>
	<Control ClassName="copydatato" ControlType="11">
        <Text><![CDATA[Copying data to ]]></Text>
    </Control>
	<Control ClassName="copystopcopy" ControlType="11">
        <Text><![CDATA[Are you sure you want to stop copying data?]]></Text>
    </Control>
	<Control ClassName="copydeviceremoved" ControlType="11">
        <Text><![CDATA[ has been removed! ]]></Text>
    </Control>
	</Dialog>
	
	<Dialog ClassName="Bootable">
	<Control ClassName="bootregisterneedpaln" ControlType ="1" >
        <Text><![CDATA[Your Bootable Toolkit is not registered, please register it before creating bootable drive]]></Text>
    </Control>
	<Control ClassName="bootBasic" ControlType ="1" >
        <Text><![CDATA[Data Recovery]]></Text>
    </Control>
	<Control ClassName="bootPro" ControlType ="1" >
        <Text><![CDATA[Data Recovery Pro]]></Text>
    </Control>
	<Control ClassName="bootcreateboot" ControlType ="1" >
        <Text><![CDATA[Create a bootable drive to recover data when Windows system is unable to launch.]]></Text>
    </Control>
	<Control ClassName="bootStart" ControlType ="13" >
        <Text><![CDATA[Start]]></Text>
    </Control>
	<Control ClassName="bootselectmode" ControlType ="1" >
        <Text><![CDATA[Select a mode to create bootable drive]]></Text>
    </Control>
	<Control ClassName="bootcreateusb" ControlType ="1" >
        <Text><![CDATA[Create USB bootable drive]]></Text>
    </Control>
	<Control ClassName="bootcreateusbdisk" ControlType ="1" >
        <Text><![CDATA[Please connect a USB flash drive]]></Text>
    </Control>
	<Control ClassName="bootcreate" ControlType ="13" >
        <Text><![CDATA[Create]]></Text>
    </Control>
	<Control ClassName="bootcreatedvd" ControlType ="1" >
        <Text><![CDATA[Create CD/DVD bootable drive]]></Text>
    </Control>
	<Control ClassName="bootnotsupport" ControlType ="1" >
        <Text><![CDATA[External hard drive is not supported, please insert a USB flash drive.]]></Text>
    </Control>
	<Control ClassName="bootcheck" ControlType ="1" >
        <Text><![CDATA[Checking…]]></Text>
    </Control>
	<Control ClassName="bootformatdisk" ControlType ="11" >
        <Text><![CDATA[The operation will format your USB flash drive, it`s recommended to backup your important data before doing this operation. Are you sure want to format this disk now?]]></Text>
    </Control>
	<Control ClassName="bootwriteprotected" ControlType ="11" >
        <Text><![CDATA[Format failed, your disk is under protection.]]></Text>
    </Control>
	<Control ClassName="bootusbused" ControlType ="11" >
        <Text><![CDATA[Format failed, your disk is currently being occupied by other processes.]]></Text>
    </Control>
	<Control ClassName="bootunknowreason" ControlType ="11" >
        <Text><![CDATA[Format failed for unknown reasons, please use another USB flash drive.]]></Text>
    </Control>
	<Control ClassName="bootformatdevicerm" ControlType ="11" >
        <Text><![CDATA[Formatted device has been removed.]]></Text>
    </Control>
	<Control ClassName="bootretry" ControlType ="13" >
        <Text><![CDATA[Retry]]></Text>
    </Control>
	<Control ClassName="bootdevicerm" ControlType ="11" >
        <Text><![CDATA[Device has been removed.]]></Text>
    </Control>
	<Control ClassName="bootDvdnotready" ControlType ="11" >
        <Text><![CDATA[The DVD/CD drive is not ready, please check it]]></Text>
    </Control>
	<Control ClassName="bootinsertblankdvd" ControlType ="11" >
        <Text><![CDATA[Please insert a blank DVD/CD or a DVD/CD that can be overwritten.]]></Text>
    </Control>
	<Control ClassName="bootloading" ControlType ="1" >
        <Text><![CDATA[Downloading ]]></Text>
    </Control>
	<Control ClassName="bootloadfailed" ControlType ="11" >
        <Text><![CDATA[Download failed! ]]></Text>
    </Control>
	<Control ClassName="bootcheckconnect" ControlType ="11" >
        <Text><![CDATA[Please check your network connection.]]></Text>
    </Control>
	<Control ClassName="booterasedvd" ControlType ="11" >
        <Text><![CDATA[The operation will overwrite your DVD/CD ,are you sure want to overwrite this disk now?]]></Text>
    </Control>
	<Control ClassName="bootformat" ControlType ="1" >
        <Text><![CDATA[Formatting ]]></Text>
    </Control>
	<Control ClassName="bootcreatecomplete" ControlType ="1" >
        <Text><![CDATA[Bootable drive successfully created]]></Text>
    </Control>
	<Control ClassName="bootcreatefailed" ControlType ="1" >
        <Text><![CDATA[Fail to create bootable drive]]></Text>
    </Control>
	<Control ClassName="bootwritecomplete" ControlType ="1" >
        <Text><![CDATA[Overwrite completed]]></Text>
    </Control>
	<Control ClassName="bootwritefailed" ControlType ="11" >
        <Text><![CDATA[Overwrite failed]]></Text>
    </Control>
	<Control ClassName="bootnext" ControlType ="1" >
        <Text><![CDATA[next step]]></Text>
    </Control>
	<Control ClassName="bootchangebios" ControlType ="1" >
        <Text><![CDATA[1：Adjust the BIOS to boot from USB]]></Text>
    </Control>
	<Control ClassName="bootattach" ControlType ="1" >
        <Text><![CDATA[2：Connect the USB flash drive to your computer]]></Text>
    </Control>
	<Control ClassName="bootrestart" ControlType ="1" >
        <Text><![CDATA[3：Restart your computer]]></Text>
    </Control>
	<Control ClassName="bootviewguide" ControlType ="1" >
        <Text><![CDATA[<b><a href="#"><font color=#00AEE6>View Guide</font></a></b>]]></Text>
    </Control>
	<Control ClassName="bootcontact" ControlType ="3" >
        <Text><![CDATA[Contact us]]></Text>
    </Control>
	<Control ClassName="bootcreating" ControlType ="1" >
        <Text><![CDATA[Creating...]]></Text>
    </Control>
	<Control ClassName="bootwriting" ControlType ="1" >
        <Text><![CDATA[Overwriting]]></Text>
    </Control>
	<Control ClassName="bootstoploading" ControlType ="11" >
        <Text><![CDATA[Downloading now, do you want to stop?]]></Text>
    </Control>
	<Control ClassName="bootsBurncomplete" ControlType ="1" >
        <Text><![CDATA[Bootable CD/DVD completed!]]></Text>
   